
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.footer {
    width: 100%;
}
.footer-wrapper {
    display: flex;
    align-items: flex-end;
    background: url(../img/bg-footer.png) no-repeat;
    min-height: 457px;
}

.footer-top-container {
    position: relative;
    width: 370px;
    margin: 0 auto 100px;
}

.footer-title {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer-title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    background-color: rgb(51, 51, 51);
    width: 2px;
    height: 35px;
}

.footer-agency-info {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 35px;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: rgb(255, 255, 255);
}

.footer-social-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.footer-social-icon:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid rgb(255, 0255, 255);
}

.footer-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
     margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 56px;
    color: rgb(255, 255, 255);
}

.footer-copy {
    display: inline-block;
}

.footer-links-list {
    display: flex;
    list-style-type: none;
    text-transform: capitalize;
}

.footer-links-list-item {
    display: inline-block;
    margin-right: 20px;
}

.footer-links-list-item:last-child {
    margin-right: 0;
}

.footer-links-list-item:hover {
    font-weight: 900;
    cursor: pointer;
}

.footer-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}