@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.test-container {height: 50px;} /*test - remove before merging*/

.pricing-container {
    width: 1110px;
    margin: 0 auto 90px;
    position: relative;
}

.pricing-title {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 85px;
}

.pricing-title::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    background-color: rgb(51, 51, 51);
    width: 2px;
    height: 35px;
}

.pricing-plans {
    display: flex;
    justify-content: center;
}

.pricing-info-box {
    width: 255px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-right: 30px;
    padding: 35px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.pricing-info-box:last-child {
    margin-right: 0;
}

.pricing-plan-label {
    font-size: 18px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    z-index: 1;
    padding: 0 4px;
}

.pricing-plan-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(160, 160, 160);
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 10px 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.pricing-plan-btn:hover {
    cursor: pointer;
}

.pricing-info-box:hover {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
}

.pricing-info-box:hover > .pricing-plan-btn {
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(51, 51, 51);
}

.pricing-plan-price {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.pricing-plan-price::before {
    content: '$';
}

.pricing-plan-price::after {
    content: '  /Per Month';
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 500;
}

.pricing-plan-features {
    margin-bottom: 40px;
    list-style-type: none;
}

.pricing-plan-features-item {
    line-height: 2em;
}

.pricing-plan-features-item::before {
    content: '- ';
}