.wrapperrecent {
    background-color: #ecebeb;
}

.containerrecent {
    width: 1110px;
    margin: auto;
    padding: 80px 0 100px;
    }

.h2recent {
    /*display: flex;*/
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    /*justify-content:center;*/
    /*margin: auto;*/
    margin-bottom: 120px;
    position: relative;
}

.h2recent:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 130%;
    left: 50%;
    background-color: rgb(51, 51, 51);
    width: 2px;
    height: 50px;
    /*font-size: 35px;*/
    /*margin-bottom: 3px;*/
}

.menu-recent {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.recentmenu {
    display: inline-block;
    font-size: 12px;
    color: #8e8e8e;
    text-transform: uppercase;
    margin-right: 15px;
}

.recentmenu:hover {
    transition: 1s;
    color: black;
    border: 1px solid #000000;
}

.recentmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iconsrecent {
    display: none;
}

.boxrecent {
    position: relative;
    /*display: inline-block;*/
    flex-basis: 300px;
    width: 350px;
    height: 377px;
    /*margin-right: 50px;*/
    margin-bottom: 20px;
    /*background-color: green;*/
}

.overlayrecentbg {
    background-color: #ecebeb;
    width: 350px;
    height: 100px;

}

.inforecent {
    font-size: 18px;
    display: block;
    padding: 15px 0 15px 15px;
    text-transform: uppercase;
    /*padding-top: 250px;*/
}

.picrecent {
    display: block;
}

.textrecent {
    font-size: 14px;
    color: #8e8e8e;
    text-transform: capitalize;
    padding: 15px 0 15px 15px;

}

.iconsrecent {
    border-radius: 50%;
    display: block;
    font-size: 90px;
    text-align: center;
    padding: 90px 0;
    color: #ffffff;
}

.overlayrecent {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.boxrecent:hover > .overlayrecent {
    display: block;
}