.wrapper-slider {
    background-image: url(../img/bg_img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container-slider {
    width: 1110px;
    padding: 225px 0 200px;
    margin: auto;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: #ffffff;
    justify-content: space-between;
    min-height: 260px;
    width: 630px;
}

.slider-title {
    font-size: 60px;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.slider-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.slider-btn {
    min-width: 200px;
    min-height: 50px;
    color: #8e8e8e;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: 500;
}

.slider-btn:hover {
    color: #000000;
    font-weight: 500;
}